@{
    ViewData["Title"] = "Elenco violazioni";
}

<div class="container">
    <h1>Elenco violazioni</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrizione</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var violazione in Model)
            {
                <tr>
                    <td>@violazione.ID</td>
                    <td>@violazione.Descrizione</td>
                    <td><a class="btn btn-danger" asp-controller="TipoViolazione" asp-action="Delete" asp-route-id="@violazione.ID">Elimina</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>